body{
	direction: rtl;
	unicode-bidi: embed;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	right: 17%;
}
.next_slide_text{
	left:0px;
	right: initial !important;
}

.blog-rating .overall-score .rating {
  text-align: left !important;
}
.widget-title i {
  margin-left: 3px !important;
}
div.rating:after {
	left: 0 !important;
    text-align: left !important;
}

.heart-love-count .fa {
  margin-left: 5px !important;
}

h3.widget-title{
	min-width:100%;
}

.clanwar-list .scores, .clanwar-list .upcoming, .clanwar-list .playing{
	right:initial !important;
	left:10px;
}

ul.clanwar-list li.clanwar-item {
    padding-right:10px;
}

body .newsbv-item-first .newsb-thumbnail{
	margin-right:0px !important;
}
.navbar-inverse .nav>li>a, .ubermenu > ul > .ubermenu-item > a{
	text-align:right !important;
}

.dropdown:hover .dropdown-menu li>a {
	text-align:right !important;
}
.dropdown:hover > .dropdown-menu{
	right: 0px !important;
}

body .dropdown-menu .sub-menu.dropdown-menu {
    right: 100% !important;
    position: absolute;
    top: -2px!important;
    visibility: none;
    left: initial;
}
